/* Defines */
:root {
  --fntSans: "Open Sans", sans-serif;
  --fntSizeBase: 18px;
  --fntSizeH1: 42px;
  --clrText: #444;
  --clrTextFainter: #777;
  --clrBodyBg: #fff;
  --clrControl: #9f7e52;
  --clrControlHover: #d08e4c;
  --clrError: #c45151;
  --clrLink: #be4005;
  --clrP1: #89a206;
  --clrP2: #da281c;
  --clrP3: #117680;
  --clrP4: #bb3804;
  --clrP5: #0a62ac;
  --clrP6: #a6870a;
  --clrP7: #e9bc08;
}

/* Global overrides */
* { box-sizing: border-box; overflow-wrap: anywhere; }
a { color: var(--clrLink); text-decoration: none; }
a:hover { text-decoration: underline; }

button {
  display: inline-block; border-radius: 0; border: 1px solid var(--clrTextFainter);
  font-size: var(--fntSizeBase); padding: 4px 16px;
}

& input[type=text] {
  border-radius: 0; border: 1px solid var(--clrTextFainter);
  font-family: inherit; color: var(--clrText); background-color: var(--clrBodyBg);
  font-size: var(--fntSizeBase); padding: 2px 6px;
}

.cp1 { color: var(--clrP1); }
.cp2 { color: var(--clrP2); }
.cp3 { color: var(--clrP3); }
.cp4 { color: var(--clrP4); }
.cp5 { color: var(--clrP5); }
.cp6 { color: var(--clrP6); }
.cp7 { color: var(--clrP7); }

/* Layout, specifics */
html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
html { background-color: rgb(var(--clrBodyBg)); }
body {
  overflow-y: scroll; font-family: var(--fntSans); font-size: var(--fntSizeBase); color: var(--clrText);
  padding: 0 16px;
}
#pnlMid {
  width: 100%; padding: 0 0; max-width: 900px; margin: 0 auto; min-height: 100%;
  display: flex; flex-direction: column;
}

header { display: flex; justify-content: space-between; flex-wrap: wrap; padding: 16px 0 16px 0; }
header div { display: flex; width: auto; justify-items: flex-start; }
header h1 { font-size: var(--fntSizeH1); font-weight: bold; width: auto; padding: 0; margin: 0; }
header div a { text-decoration: none; }
header div a:hover { text-decoration: none; }
header .beta { font-size: 16px; display: block; width: auto; padding: 6px 0 0 8px; font-weight: bold; }
header .beta span { border: 1px solid var(--clrText); border-radius: 3px; padding: 0 3px; }
header nav { display: flex; justify-content: flex-start; align-items: flex-end; }
header nav a {
  display: block; font-size: 24px; border-bottom: 3px solid transparent;
  margin-right: 20px; margin-bottom: 3px;
}
header nav a:last-of-type { margin-right: 0; }
header nav a:hover, header nav a.selected { border-bottom-color: var(--clrLink); text-decoration: none; }

h2 { margin: 22px 0; font-size: 27px; }
h3 { margin: 22px 0; font-size: 22px; }

.bottom-spacer { height: 64px; }
.inline-icon { width: 24px; height: 24px; vertical-align: bottom; }
.circled-numbers { display: flex; }
.circled-numbers .number { padding-right: 10px; }
.circled-numbers .content { flex-grow: 1; min-width: 0; }
.circled-numbers .content p:first-child { margin-top: 0; }
.circled-numbers .content img { max-width: 100%; }
.circled-numbers .number span {
  display: block; width: 1.5em; border-radius: 50%;
  text-align: center; font-weight: bold;
  color: var(--clrBodyBg); background-color: var(--clrTextFainter);
}

a.jump, a.jump:hover { text-decoration: none; color: inherit; }


nav.pager { text-align: center; margin-top: 48px; }
nav.pager a {
  display: inline-block; width: 36px; border: 1px solid transparent;
  border-radius: 6px;
}
nav.pager a:hover { border-color: var(--clrLink); text-decoration: none; }
nav.pager a.selected {
  border-color: var(--clrLink); background-color: var(--clrLink); color: var(--clrBodyBg);
}

article.feed { padding: 12px 0; border-bottom: 1px dotted var(--clrTextFainter); }
article.feed:last-of-type { border-bottom: none; }
article.feed * { margin: 0; }
article.feed h3 { font-size: var(--fntSizeBase); font-weight: bold; display: inline-block; }
article.feed div span { display: inline-block; }
article.feed p.info { font-size: 80%; }

h2.feed-name { margin-bottom: 0; }
p.feed-handle { margin: 0 0 22px 0; }
section.feed-bio { border-bottom: 1px dotted var(--clrTextFainter); }
section.feed-remove { border-bottom: 1px dotted var(--clrTextFainter); font-style: italic; padding: 4px 0; }
section.feed-stats { border-bottom: 1px dotted var(--clrTextFainter); padding: 6px 0; }
section.feed-stats p { margin: 0; }
section.feed-stats span { display: inline-block; }
section.feed-stats span.value { font-weight: 600;  }
section.feed-stats span.label { width: 10em; }
article.post { margin-top: 36px; }
article.post p { margin: 0; }
article.post .title { font-weight: 600; }
article.post .description { margin-top: 6px; font-style: italic; font-size: 94%; }
p.omitted-posts { margin: 36px 0; border-top: 1px dotted var(--clrTextFainter); padding-top: 36px; }

main img { max-width: 100%; }


footer { display: flex; justify-content: flex-end; font-size: 15px; }
footer p { margin-left: 6px; }
footer p.source a { display: flex; }
footer p.source a:hover { text-decoration: none; }
footer p.source span { display: block; }
footer p.source svg { width: 20px; height: 20px; }

main {
  flex-grow: 1;
}



@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/OpenSans-Regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/OpenSans-Semibold.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/OpenSans-Italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/OpenSans-SemiboldItalic.woff2') format('woff2');
}
