<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>RSS Parrot</title>
  <meta name="description" content="Home of RSS Parrot, a free Fediverse service that lets you turn Mastodon into an RSS or Atom feed reader." />
  <meta name="og:description" content="Home of RSS Parrot, a free Fediverse service that lets you turn Mastodon into an RSS or Atom feed reader." />
  <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦜</text></svg>">
  <link rel="stylesheet" href="/assets/style.css?ver={{ .Timestamp }}">
  <script defer data-domain="rss-parrot.net" src="https://plausible.io/js/script.js"></script>
</head>
<body>

<object style="position:fixed;bottom:0;height:1px;" type="image/svg+xml" data="/assets/icons.svg?ver={{ .Timestamp }}"
        onload="this.parentNode.replaceChild(this.contentDocument.documentElement, this)">
</object>

<div id="pnlMid">
  <header>
    <div>
      <h1>
        <a href="/">
          <span class="cp1">R</span><span class="cp2">S</span><span class="cp3">S</span>&nbsp;<span class="cp4">P</span><span class="cp4">a</span><span class="cp6">r</span><span class="cp7">r</span><span class="cp1">o</span><span class="cp2">t</span>
        </a>
      </h1>
      <span class="beta"><span>BETA</span></span>
    </div>
    <nav>
      <a href="/web/feeds" class="{{.LnkFeedsClass}}">Feeds</a>
      <a href="/web/changes" class="{{.LnkChangesClass}}">Changes</a>
      <a href="/web/about" class="{{.LnkAboutClass}}">About</a>
    </nav>
  </header>
  <main>
      {{template "main" .}}
  </main>
  <footer>
    <p class="source">
      <a href="https://github.com/gugray/rss-parrot">
        <span>Source code&nbsp;</span>
        <span><svg class="inline-icon"><use href="#icon-github-logo"></use></svg></span>
      </a>
    </p>
    <p>&bull;</p>
    <p id="version">{{ .Version }}</p>
  </footer>
</div>
</body>
</html>
