{{define "main"}}
  <h2>Changes and announcements</h2>

  <a id="2024-01-13" class="jump"><h3>2024-01-13 ~ tweaks and bugfixes ~</h3></a>
  <p>
    Although these changes are typically not visible in the form of pixels on anyone's screen, I've been making a series of
    not-so-spectacular improvements. Think of very technical things, like the birb setting the User-Agent header when
    retrieving websites and feeds. Think also of the ActivityPub protocol's arcane details that I cannot even begin
    to describe, lest a lower daemon springeth forth from the Underspecified Domain and eat my soul.
  </p>
  <p>
    The goal of this kind of work is to make the birb fail in fewer situations. Success is when you don't notice it
    happening. Unfortunately, I did bork things a couple of times, so there were periods when the birb would not reply
    to mentions, or toot out new posts later than it should have. Luckily, you didn't notice.
  </p>
  <p>
    If you do want to know more, or if you want to give me more such work, check out the
    <a href="https://github.com/gugray/rss-parrot/issues">issue tracker</a> on Github.
  </p>
  <p>
    The good news is, I also have an entire screen full of little appealing graphs like the one below. This means that when I
    get bored of doing real work, I can just stare at these and relax.
  </p>
  <p>
    <img src="/assets/feeds-updated.png" alt=".">
  </p>

  <a id="2024-01-08" class="jump"><h3>2024-01-08 ~ improvements ~</h3></a>
  <p>
    I have released changes last night and just now that address several issues you have reported on Mastodon,
    or directly in the <a href="https://github.com/gugray/rss-parrot/issues">project's issue tracker</a>
    on Github. Here are the most important ones:
  </p>
  <ul>
    <li>
      The title and description of entries had ugly entities like &amp;#39; in place of apostrophes etc.
      [<a href="https://github.com/gugray/rss-parrot/issues/3">fixed</a>]
    </li>
    <li>
      If you mentioned the birb from a "secure" Mastodon server (the "authorized_fetch" option turned on),
      the birb was unable to toot a response back at you
      [<a href="https://github.com/gugray/rss-parrot/issues/2">fixed</a>]
    </li>
    <li>
      The birb didn't like direct messages. This turned out to be a bad idea; many of you understandbly
      don't want to spam public timelines with feed requests.<br>
      [<a href="https://github.com/gugray/rss-parrot/issues/10">revised</a>: the birb accepts requests in DMs now]
    </li>
    <li>
      Toots about podcast episodes that don't have a link to a web page, only a link to the audio file, did not contain
      any link.<br>
      [<a href="https://github.com/gugray/rss-parrot/issues/18">improved</a>: the birb uses the audio link
      for such episodes now]
    </li>
  </ul>
  <p>
    It was nice to rabbithole a bit into the distribution of podcasts. I think I didn't know that a podcasts live as
    an RSS feeds somewhere! The whole ecosystem of podcast apps and players hides this well; the RSS feeds themselves
    are quite hard to get at. But not impossible! I discovered <a href="https://www.listennotes.com/">Listen Notes</a>,
    a pleasantly no-nonsense site that lets you search for podcasts and shows you the feed itself. Great if you want
    to follow you favorite pods via the Parrot! (I have no affiliation with Listen Notes.)
  </p>

  <a id="2024-01-03" class="jump"><h3>2024-01-03 ~ beta release ~</h3></a>
  <p>
    What a day! I launched RSS Parrot last night with what I thought would be a
    <a href="https://genart.social/@twilliability/111688775264827884">low-profile toot</a>
    that was meant to go essentially unnoticed. Boy, was I wrong! The response has been beyond any expectations.
    The toot has been boosted almost 1,000 times in the first 24 hours, which is several times more "viral"
    than any post of mine ever went on the internet.
  </p>
  <p>
    The really good things:
  </p>
  <ul>
    <li>The reactions have been overwhelmingly positive, helpful, and nice. Thank you!</li>
    <li>The birb made it through the day! The service has survived the first 24 hours without major hiccups.</li>
    <li>
      Y'all have requested over 300 new feeds, on top of the 10,000+ that were already there from the Kagi
      <a href="https://github.com/kagisearch/smallweb">small web</a>.
    </li>
    <li>
      My spot checks have revealed almost<sup>*</sup> no ugly content among the requested feeds.
    </li>
  </ul>
  <p>
    Issues discovered:
  </p>
  <ul>
    <li>
      If you requested a URL with upper-case letters, things became funny
      [<a href="https://github.com/gugray/rss-parrot/issues/9">fixed</a>]
    </li>
    <li>
      Some funny feeds could result in an anomalous, nameless account
      [<a href="https://github.com/gugray/rss-parrot/issues/4">fixed</a>]
    </li>
    <li>
      Not accepting requests in DMs may not be a good idea after all
      [<a href="https://github.com/gugray/rss-parrot/issues/10">deliberating</a>]
    </li>
    <li>
      Feed descriptions often have ugly HTML entities like &amp;#39; for quotes and apostrophes
      [<a href="https://github.com/gugray/rss-parrot/issues/3">filed</a>]
    </li>
    <li>
      The birb cannot talk to Mastodon servers in "secure" mode
      [<a href="https://github.com/gugray/rss-parrot/issues/2">filed</a>]
    </li>
  </ul>
  <p>Misc plans and thoughts:</p>
  <ul>
    <li>
      I'm seeing feeds from Nitter, which I didn't even know had RSS feeds. I'm not sure how I feel about this.
      Even though I mention Bluesky myself on the front page, my original idea for the Parrot is essentially indieweb sites
      with a relaxed publishing cadence. But I guess as long as the service can cope and Fediverse folks aren't
      offended, this should be fine.
    </li>
    <li>
      I expected that the uptake would be much slower, giving me more time to think about moderation. So far, by
      random spot checks, I have spotted one feed that must be kicked out (and rest assured, will be).
      This means I must fast-track the blocklist functionality for feeds as well as Mastodon instances.
    </li>
    <li>
      Both launch day, and the weeks leading up to it, have been somewhat overwhelming. I'll be more hands-off
      in the next few days. An unplanned trip comes in handy, forcing me to adopt a more async approach to
      incoming communication.
    </li>
  </ul>
  <div class="bottom-spacer"></div>
{{end}}