{{define "main"}}
  <h2>About RSS Parrot</h2>
  <p>
    This is the browser home of RSS Parrot, a Fediverse service that lets you turn Mastodon into your feed reader.
    The Parrot follows the RSS or Atom feeds of a large number of websites, and sends out a toot whenever a new post
    is published on one of them.
  </p>
  <p>
    Every feed has a dedicated account. If you follow that account, you'll receive a toot in your timeline whenever
    a new post shows up in the feed.
  </p>
  <p>
    The RSS Parrot brings Wordpress blogs into the Fediverse without the need for the blog's owner to install the
    Mastodon plugin. If you have a Wordpress blog and want to enable Mastodon users to follow it, the easiest way
    is to share your blog's RSS Parrot account.
  </p>
  <p>
    Since Bluesky accounts also have a public RSS feed now, the RSS Parrot brings the whole of Bluesky into Mastodon.
    Every Bluesky profile that someone has requested is watched by a Parrot account. If you follow the Parrot acount,
    you'll see the Bluesky user's posts in your Mastodon timeline.
  </p>
  <h3>Contact</h3>
  <p>
    Got questions? Want to report a feed that violates of the Parrot's values? Or simply want to say hi?
  </p>
  <p>
    Email the Parrot at <a href="mailto:rss.parrot@gmail.com">rss.parrot@gmail.com</a>.
  </p>
  <p>
    <u>Do not</u> toot at any of the Parrot accounts or @birb@rss-parrot.net directly. These are all automated
    accounts and no human is monitoring their mentions.
  </p>
  <h3>Values</h3>
  <p>
    RSS Parrot shares the values of Mastodon. This is a friendly, safe, and welcoming environment for everyone
    regardless of gender identity or expression, sexual orientation, disability, personal appearance, body size, race,
    ethnicity, age, religion, nationality, political affiliation, or other similar characteristics. It is a space
    that must be free from harassment, malicious or illegal content.
  </p>
  <p>
    The Parrot is an automated service and none of the accounts here are operated by a human. But the relayed content
    <i>is</i> created by humans, and the recipients of the automated toots are also humans. Therefore, the Parrot
    implements its own form of active moderation against racism, sexism, homophobia and transphobia.
  </p>
  <p>
    On the <b>source side</b>, the Parrot will not disseminate content from websites and feeds that is contrary to its values.
    The Parrot's human operators will remove offending feeds.
  </p>
  <p>
    On the <b>recipient side</b>, the Parrot will not provide its <i>pro bono</i> service to Mastodon instances with incompatible values.
    The Parrot will use a consenus-based block list to defederate from these, and will block instances both proactively
    and on the basis of carefully evaluated complaints.
  </p>
  <h3>Disclaimers</h3>
  <p>
    The Parrot is an experimental service in beta. It may or may not work correctly; there are no guarantees.
  </p>
  <p>
    The Parrot, for now, is run by a single person in their free time. They are doing their best to ensure quality
    of service, fix issues, and ship improvements, but there are no guarantees.
  </p>
  <p>
    The Parrot operates on a shoestring on an incredibly tiny virtual server. If a setup like this cannot reasonably
    support a spike in demand, the Parrot may temporarily restrict access.
  </p>
  <p>
    If this thing blows up in my face in some unexpected way, I will simply turn it off. But that is definitely
    not my plan. In the absence of any <i>force majeur</i> I promise not to discontinue the Parrot on less than 3 months'
    notice.
  </p>
  <div class="bottom-spacer"></div>
{{end}}