{{define "main"}}
  <h2>Feeds followed by the Parrot</h2>
  <p>More recently requested feeds are shown first.</p>
  <p>There are {{ .Data.FeedCount }} feeds in all.</p>
  <div class="bottom-spacer"></div>
{{end}}